/* DEBUG */
/* [class*="col"] {
  background-color: pink;
  border: 1px solid red;
} */

/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* REGOLE GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}
img {
  height: 100%;
  width: auto;
  display: block;
  border-radius: 50%;
}
i {
  font-size: 1.5em;
  cursor: pointer;
}
a {
  color: #b1b1b1;
}
h4 {
  padding-bottom: 2px;
}
p {
  color: #878d8f;
}
span {
  color: #878d8f;
}
.wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  min-width: 900px;
}
.green {
  background-color: #009688;
  height: 100px;
}
.grey {
  height: calc(100% - 100px);
  background-color: #d8dbd6;
}

/* REGOLE WEBAPP */
.webapp {
  position: absolute;
  width: 80%;
  height: calc(100% - 20px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
}
.left {
  width: 35%;
  min-width: 300px;
}
.right {
  width: 65%;
}
/* LEFT COLUMN */
/* Profilo */
.profilo {
  background-color: #eaeaea;
  height: 70px;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid #b1b1b1;
}
.avatar {
  height: 100%;
  padding: 5px 0;
  padding-left: 8px;
}

/* Notifiche */
.notifiche {
  background-color: #8edafc;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bell {
  padding-left: 15px;
}
.bell i {
  color: #8edafc;
  padding: 10px 0;
  background-color: white;
  height: 50px;
  width: 50px;
  text-align: center;
  border-radius: 50%;
}
.notifiche-text {
  width: 82%;
  margin-left: 8px;
}

/* Finder */
.find {
  width: 100%;
  background: #eaeaea;
  height: 50px;
  padding: 10px;
}
.find-wrapper {
  background: white;
  height: 100%;
}
.find label {
  background-color: white;
  width: 60px;
  display: inline-block;
  text-align: center;
}
.find i {
  font-size: 1em;
}
.find input {
  width: calc(100% - 67px);
  height: 100%;
  border: 0;
}

/* Contatti */
.contatti {
  height: calc(100% - 190px);
  background: white;
  overflow-y: hidden;
}
.contatti .contatto .avatar {
  padding-left: 5px;
}
.right-nav ul {
  padding-right: 10px;
}
.right-nav ul li {
  display: inline-block;
  line-height: 70px;
  padding: 0 10px;
}
.contatto {
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.contatti .contatto {
  height: 78px;
  border-bottom: 1px solid #eaeaea;
}
.contatto-nome {
  position: relative;
  width: 80%;
  margin-left: 8px;
}
.contatto-nome span {
  font-size: 0.8em;
  position: absolute;
  right: 5%;
  top: 40%;
}
.contatto-nome-header {
  margin-left: 8px;
}

/* RIGHT COLUMN */
/* Header chat */
.header-chat {
  background-color: #eaeaea;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

/* Main chat */
.main-chat {
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  padding: 50px;
  overflow-y: scroll;
}
.single-chat {
  display: none;
}
.single-chat.active {
  display: block;
}

/* Write Chat */
.write-chat {
  background-color: #f3eeea;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.write-chat .text {
  flex-basis: 80%;
}
.write-chat .text input {
  width: 100%;
  height: 40px;
  line-height: 70px;
  border: 0;
  border-radius: 5px;
}
.write-chat i {
  color: #878d8f;
}
.smile {
  padding-left: 10px;
}
.send {
  padding-right: 10px;
}


/* TEMPLATE */
.tonotshow {
  display: none;
}
.template.white {
  display: flex;
  justify-content: flex-start;
  padding: 5px 0;
}
.template.greeny {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}
.template.white p {
  margin-left: 10px;
  padding: 15px;
  background: white;
  border-radius: 8px;
  color: black;
}
.template span {
  padding: 0 20px;
  font-size: 0.8em;
  position: relative;
  bottom: -12px;
  right: -30px;
}
.template.greeny p {
  margin-right: 10px;
  padding: 15px;
  background: #d5f9ba;
  border-radius: 8px;
  color: black;
}
.template span {
  padding: 0 20px;
  font-size: 0.8em;
  position: relative;
  bottom: -12px;
  right: -30px;
}

/* MESSAGGIO */
.messaggio.greeny {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
  position: relative;
}
.messaggio.white {
  display: flex;
  justify-content: flex-start;
  padding: 5px 0;
}
.messaggio.greeny p {
  margin-left: 300px;
  margin-right: 10px;
  padding: 15px 30px 15px 15px;
  background: #d5f9ba;
  border-radius: 8px;
  color: black;
}
.messaggio.greeny p span {
  padding: 0 20px;
  font-size: 0.8em;
  position: absolute;
  bottom: 6px;
  right: -5px;
}
.messaggio.white p {
  margin-left: 10px;
  margin-right: 300px;
  padding: 15px;
  background: white;
  border-radius: 8px;
  color: black;
}
.messaggio.white p span {
  padding: 0 20px;
  font-size: 0.8em;
  position: relative;
  bottom: -10px;
  right: -28px;
}
